<form (submit)="addRace(race.value,time.value)">
	<p>
		<label><b>Race Number: </b></label>
		<input type="text" #race />
	</p>
	<p>
		<label><b>Current Time: </b></label>
		<input type="text" #time value="{{date| date:'yyyy-MM-dd HH:mm:ss'}}" disabled="true" />
	</p>
	<p>
		<label><b>How Many Horses: </b></label>
		<input type="text" #horse (change)="onHorsesNumberChange(horse.value)"/>
	</p>
	<p *ngFor="let i of horseNumber">
		<label><b>Add Odd: </b></label>
		<input type="text" name="odd{{i}}" [(ngModel)]="odd[i]"/>
	</p>
	<p>
		<button type="submit">Add</button>
	</p>
</form>