<h1>Race Odd Analysistor</h1>
<h3>Horse Race</h3>
<div *ngFor="let race of races;let i = index">
  <h4>Race {{race.id}}</h4>
  <table border="1">
    <tr>
      <th>Time</th>
      <th [attr.colspan]="race.horse[0].odd.length">Odd</th>
    </tr>
    <tr *ngFor="let horse of race.horse;let j = index" align="center">
      <td>{{horse.time}}</td>
      <td *ngFor="let odd of horse.odd;let k = index">1:{{odd}} <span *ngIf="j!=0" [ngStyle]="caculatePercentage(races[i].horse[j-1].odd[k],races[i].horse[j].odd[k]) < 0 ? {'color':'red'} : {'color':'green'}">| {{caculatePercentage(races[i].horse[j-1].odd[k],races[i].horse[j].odd[k])}}%</span></td>
    </tr>
  </table>
</div>
<br>
<hr/>
<form (submit)="submitRace(time.value)">
  <p>
    <label><b>Race Number: </b></label>
    <input type="text" #race [(ngModel)]="raceForm.id" name="raceForm.id" (change)="onRaceNumberChange(race.value)"/>
  </p>
  <p>
    <label><b>Current Time: </b></label>
    <input type="text" #time value="{{date| date:'yyyy-MM-dd HH:mm:ss'}}" disabled="true" />
  </p>
  <p *ngIf="newRace && raceForm.id!=-1">
    <label><b>How Many Horses: </b></label>
    <select [(ngModel)]="horseNumber" name="horseNumber" (change)="onHorsesNumberChange(horseNumber)">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
    </select>
  </p>

  <p *ngFor="let i of horseArray">
    <label><b>Add Odd: </b></label>
    <input type="text" name="odd{{i}}" [(ngModel)]="odd[i]"/>
  </p>
  <p>
    <button type="submit">Add</button>
  </p>
</form>